
.page-container {
    padding: 20px;
    background-color: lightgray;
}

.flex-container {
    display: flex;
    height: calc(100vh - 40px);
    width: 100%;
    max-height: calc(100vh - 40px);
}

.grid-container{
    width: 100%;
    display: grid;
    grid-template-columns: 0.3fr 2fr 7fr;
    gap: 3px;
    max-height: 100vh;
}

.first-grid {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 139);
    display: flex;
    flex-direction: column;
    -webkit-box-shadow: 6px 5px 45px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 6px 5px 45px -5px rgba(0,0,0,0.75);
    box-shadow: 6px 5px 45px -5px rgba(0,0,0,0.75);
}

.chatbox {
    align-self: center;
    border: 1px solid black;
    padding: 10px;
    margin: 7px;
    margin-top: 25px;
    background-color: rgb(135,206,235);
    border-radius: 6px;
    cursor: pointer;
}

.second-grid {
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

.chatHead {
    font-size: 1.5rem;
    padding-top: 10px;
    padding-left: 15px;
    cursor: default;
}

.arrow {
    padding-left: 15px;
}


.messageList {
    flex-grow: 1;
    overflow-y: auto! important;
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-top: 10px;
    max-height: 100%;
}

.message {
    display: flex;
    padding: 20px;
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    cursor: pointer;
}

.message img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
    border-radius: 50%;
    border-bottom: 1px solid black;
}


.third-grid {
    width: 100%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
}

.messagesHeader {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    border-bottom: 1px solid black;
}

.messageIcon {
    color: blue;
    padding: 20px;
}

.chatSpace {
    display: flex;
    flex-direction: column;
    flex: 60%;
    overflow-y: auto;
}

.box {
    display: flex;
    flex-direction: column;
    padding: 20px;
    max-width: 80%;
    height: auto;
}

.messageBox{
    display: flex;
    border: 3px solid black;
    padding: 15px;
    width: fit-content;
    height: auto;
    max-width: 100%;
    word-wrap: break-word;
}

.fromCurrentUser {
    align-self: flex-end;
    margin-left: auto;
}

.boxHeading {
    align-self: flex-end;
}

.textBox {
    display: flex;
}

.textBox input {
    min-width: 95%;
    min-height: 100px;
    flex: 1;
    border: 1px solid black;
    padding: 10px;
    align-self: flex-start;
}

.submitButton {
    flex: 5%;
    max-width: 5%;
    padding: 0;
    margin: 0;
    min-width: 2%;
}

.create-room {
    display: flex;
    justify-content: flex-end;
}

.create-room-text {
    padding-right: 9px;
    cursor: pointer;
}

.create-room-form, .join-room-form {
    /* padding-top: 10px;
    padding-left: 10px; */
    padding: 20px;
    padding-bottom: 0px;
}

.flex-buttons {
    display: flex;
    justify-content: space-evenly;
}

.create-room-input, .recipient-id-input{
    min-width: 100%;
    padding: 1px;
}

.create-room-input {
    margin-bottom: 5px;
}

.join-room-text {
    cursor: pointer;
}

.membersList {
    align-self: center;
    font-size: 0.8rem;
    color: grey;
    padding-left: 20px;
    font-style: italic;
}

.membersList p {
    margin: 0;
}
