body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.container {
    display: flex;
    background-image: url('../bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    max-height: 90%;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s ease;
}


.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: auto;
    height: auto;
    border-radius: 15px;
    max-height: 90%;
    padding: 70px 70px;
}

.heading {
    padding-top: 0px;
    font-size: 1.8rem;
}

.inputField {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
    margin: 10px;
    padding: 10px 50px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s ease;
    max-width: 50%;
}


.inputField:focus {
    border-color: #007bff;
    outline: none;
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 1rempx;
    margin-top: 20px;
    min-width: 40%;
    max-width: 70%;
    background-color: rgb(90, 94, 177);
    color: white;
    padding: 13px 8px;
    margin-bottom: 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

Button:hover {
    background-color: rgba(142, 65, 163, 0.9);
}

.showPassword {
    margin-top: 10px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.buttonContainer {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.first {
    margin-right: 10px;
}

.second {
    margin-left: 10px;
}

.errorMessage {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    color: red;
}